/*  newsspec_{%= newsspec_number %}  */

/* base.scss */

/* Define global variables here  for colour, font sizes etc...*/
$font-color: #fff;
$path: 'news/special/2013/newsspec_{%= newsspec_number %}/img';

#newsspec_9999{
	color:#ff0000;
}